.NavBar {
  width: 100%;
  background-color: #8c66ff; /* Color morado */
  color: #fff; /* Color del texto en la barra de navegación */
  padding: 20px 20px; /* Espaciado interno del NavBar */
  border-radius: 20px;
}

.NavBar h1 {
  margin: 0; /* Eliminar el margen por defecto */
  font-size: 24px; /* Tamaño de fuente del título */
  margin-bottom: 20px;
}

.NavBar nav ul {
  list-style-type: none; /* Quitar los puntos de la lista */
  margin: 0; /* Eliminar el margen por defecto */
  display: flex; /* Mostrar elementos en línea */
  justify-content: center;
  padding: 5px;
}

.NavBar nav ul li {
  margin-right: 20px; /* Espacio entre elementos de la lista */
}

.NavBar nav ul li:last-child {
  margin-right: 0; /* Eliminar margen derecho del último elemento */
}

.NavBar nav ul li a {
  display: flex; /* Convertir enlace en contenedor flex */
  align-items: center; /* Centrar elementos verticalmente */
  padding: 10px 15px; /* Espaciado interno de los enlaces */
  color: #fff; /* Color del texto en los enlaces */
  text-decoration: none; /* Quitar subrayado de los enlaces */
  transition: background-color 0.3s; /* Transición de color de fondo */
  border-radius: 20px;
}

.NavBar nav ul li a:hover {
  background-color: #4929a8; /* Cambiar color de fondo al pasar el cursor */
}

.NavBar nav ul li a .icon {
  margin-right: 5px; /* Espacio entre icono y texto */
}

@media (max-width: 726px) {
  .NavBar {
    width: 100%;
    background-color: #8c66ff; /* Color morado */
    color: #fff; /* Color del texto en la barra de navegación */
    padding: 20px 20px; /* Espaciado interno del NavBar */
    border-radius: 20px;
    margin-left: -33.5px;
  }
  
  .NavBar h1 {
    margin: 0; /* Eliminar el margen por defecto */
    font-size: 24px; /* Tamaño de fuente del título */
    margin-bottom: 20px;
  }
  
  .NavBar nav ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    margin: 0; /* Eliminar el margen por defecto */
    display: flex; /* Mostrar elementos en línea */
    justify-content: center;
    padding: 5px;
  }
  
  .NavBar nav ul li {
    margin-right: 20px; /* Espacio entre elementos de la lista */
  }
  
  .NavBar nav ul li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último elemento */
  }
  
  .NavBar nav ul li a {
    display: flex; /* Convertir enlace en contenedor flex */
    align-items: center; /* Centrar elementos verticalmente */
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    color: #fff; /* Color del texto en los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    transition: background-color 0.3s; /* Transición de color de fondo */
    border-radius: 20px;
  }
  
  .NavBar nav ul li a:hover {
    background-color: #4929a8; /* Cambiar color de fondo al pasar el cursor */
  }
  
  .NavBar nav ul li a .icon {
    margin-right: 5px; /* Espacio entre icono y texto */
  }
  
}