@import url('https://fonts.googleapis.com/css2?family=Roobert:wght@100;300;400;500;700&display=swap');

.ChanelTittle{
    font-size: medium;
    font-family: 'Roobert', sans-serif;
    margin-top: -5%;
    
}

@media  (min-width: 1024px) {

   
.ChanelTittle{
    font-size: medium;
    font-family: 'Roobert', sans-serif;
    margin-top: -5%; 
    display: none;
    
}
    }