@import url('https://fonts.googleapis.com/css2?family=Roobert:wght@100;300;400;500;700&display=swap');

.CardsOnlineFamous{

  display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 2%;
}


.CardsFamous{
    display: flex;
    flex-direction: column;
}

.BannerClips_img{
  height: 101px;
  width: 187px;
}

.ProfileFS_img{
    border-radius: 50%;
   margin-top: 2%;
   
}

.Tittle{
    font-family: 'Roobert', sans-serif;
    margin-left: 12%;
    margin-top: -10.5%;
    font-size: larger;
}

.Name{
    font-family: 'Roobert', sans-serif;
    font-size: larger;
    color: gray;
    margin-left: 11%;
    margin-top: -5%;
}

.Time{
    position: absolute;
    background-color: rgb(128, 128, 128);
    border-radius: 6%;
    top: 587px;
    left: 17px;
    width: 11%;
    height: 2%;
    border: none;
}
 


.Timetext{
    color: white;
    margin-top: 3.5%;
  margin-left: 5%;
  font-family: "Arial", "Helvetica", sans-serif;
}


.Ago{
    background-color: #232222;
  position: absolute;
  width: 21%;
  height: 2%;
  top: 695px;
  border-radius: 6%;
  left: 187px;
}

.AgoText{
    color: white;
 font-family: "Arial", "Helvetica", sans-serif;
 margin-top: 1%;
  margin-left: 2%;
  
}

.Views{

    background-color: #232222;
  position: absolute;
  width: 21%;
  height: 2%;
  top: 696px;
  border-radius: 6%;
  left: 15px;
      
    
}

.ViewsText{

    color: white;
    font-family: "Arial", "Helvetica", sans-serif;
    margin-top: 1%;
    margin-left: 10%;
}