@import url('https://fonts.googleapis.com/css2?family=Roobert:wght@100;300;400;500;700&display=swap');


@font-face {
    font-family: 'Vayu Sans Semi Bold';
    src: local('Vayu Sans Semi Bold'), url('C:\Users\Usuario\Downloads\VayuSans-SemiBold.zip') format('woff');
    
  }

  @media (max-width: 767px) {
    .containers-card{
      width: 20%;
      display: none;
     
    }
    .sec-icon {
      width: 18px;
    height: 25px;
      margin-left: 8%;
      display: none;
    }
    .cards-side{
      display: flex;
      flex-direction: row;
      width: 13%;
    height: 15%;
    margin-top: 2%;
    display: none;
    
  }
  }

  @media  (min-width: 1024px) {


  .sec-icon {
    width: 18px;
  height: 25px;
    margin-left: 8%;
  }

.profile-img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.cards-side{
    display: flex;
    flex-direction: row;
    width: 13%;
  height: 15%;
  margin-top: 2%;
  
}

.text-card{
    display: flex;
    flex-direction: column;
    margin-top: -225%;
  margin-left: 73%;
}

.title-side{
    font-family: 'Roobert', sans-serif;
    font-size: medium;
}

.description-side{
    
    margin-top: -15%;
    color: grey;
    font-family: 'Vayu Sans Semi Bold';
}

.views-side{
    font-family: 'Roobert', sans-serif;
    margin-left: 18%;
    margin-top: 3%;
}

.circle-view {
  width: 11px;
  height: 10px;
    background-color: #ff0000; 
    border-radius: 50%; 
  }

  .view-circle-sec{
    display: flex;
    align-items: last baseline;
    flex-direction: row;
    margin-top: -62%;
    margin-left: 116%;
    width: 108%;
  }

  .containers-card{
    width: 20%;
   
  }

}