@import url('https://fonts.googleapis.com/css2?family=Roobert:wght@100;300;400;500;700&display=swap');

  .NavigationBar{
    display: flex;
    flex-direction: row;
    margin-top: -3%;
    position: fixed;
    background-color: #808080;
    filter: none;
    align-items: center;
    height: 7%;
    border-radius: 8px;
    margin-left: -11px;
   
  }
.ContainerIcon{
  display: flex;
  flex-direction: row;
  gap: 33%;
  align-items: center;
}
 
.ContainerAll{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 
  .Icon{
    width: 34px;
  height: 33px;


  }
  .Photo_ProfileNav{
    width: 18%;
    border-radius: 63%;
    margin-left: 13px;
    
  }
  .Share_Screen{
    width: 10%;
    margin-top: 5%;
    margin-left: 20%;
  }
  .MessageIcon{
    width: 10%;
    margin-top: 5%;
    margin-left: 8%;
    color: black;
  }
  .MailboxIcon{
    width: 10%;
    margin-top: 5%;
    margin-left: 8%;
  }
  .LiveIcon{
    width: 35%;
    margin-top: 3%;
    margin-left: -5%;
    
  }

  .ButtonLive{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 21%;
  width: 33%;
  border: none;
  margin-left: 62%;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 16%;
  margin-top: -1%;
  font-family: 'Roobert', sans-serif;

  }

  @media  (min-width: 1024px) {

    .NavigationBar{
      display: flex;
      flex-direction: row;
      margin-top: -3%;
      position: fixed;
      background-color: #80808033;
      filter: none;
      align-items: center;
      height: 7%;
      border-radius: 8px;
      display: none;
    }
  }  