.ContainerIconDown {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    margin-right: 8%;
    margin-left: 7%;
    background-color: whitesmoke;
    position: sticky;
  }

.NavigationDown{
    background-color: whitesmoke;
   
}

.IconDown{
    width: 34px;
  height: 33px;


  }