

@media  (max-width: 767px) {

    .recom-title-desk{
        font-size: medium;
        font-family: 'Roobert', sans-serif;
        display: none;
    }
    
  }
  
  @media  (min-width: 1024px) {
  
    .recom-title-desk{
        font-size: medium;
        font-family: 'Roobert', sans-serif;
    }
  }