@import url('https://fonts.googleapis.com/css2?family=Roobert:wght@100;300;400;500;700&display=swap');

@media  (min-width: 1024px) {

    .NavigationBarDesktop {
        display: flex;
        
    justify-content: space-between;
    align-items: center;
    margin-top: -3%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
       
        
       
       
    }
    
    .firspart-nav {
        display: flex;
        flex-direction: row; 
        margin-right: auto;
        gap: 20px;
        align-items: center;
       
    }
    
    .searchbar {
        display: flex;
        align-items: center;
        justify-content: center; /* Centra horizontalmente los elementos en .searchbar */
        gap: 10px;
    }
    
    .input-search {
        width: 200px;
        height: 30px;
    }
    
    .lastpart-nav {
        display: flex;
        gap: 20px;
        margin-left: auto;
    }
  

    .text-nav{
        font-family: 'Roobert', sans-serif;
        display: flex;
        flex-direction: row;
    }

    .button-photo {
       display: flex;
       flex-direction: row;
       gap: 5%;
    }
    
    .button-prime {
        width: 198px;
        height: 32px;
        display: flex;
        align-items: center; /* Centra verticalmente los elementos */
        justify-content: center; /* Centra horizontalmente los elementos */
    }
    
    .batery-icon {
        width: 64px;
        height: 49px;
    }

    .profile-navdesk{
    width: 43px;
    height: 39px;
    border-radius: 50%;
    margin-top: -2%;
    

    }

    .icon{
        width: 21px;
        height: 21px;

    }

    .photo-logo{
        width: 36px;
        height: 37px;
    margin-top: -2%;
    }
    
  }  