.card {
  background-color: rgb(237, 237, 237);
  color: var(--DarkBlue);
  padding: 1vh 2vh;
  margin: 2vh -1vh;
  border-radius: 15px;
  width: 50vw;
}

.list {
  padding: 1vh 4vh;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 40vh;
}

.task {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--DarkBlue);
  padding: 2vh 4vh;
  margin: 2vh 0;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  align-items: flex-start; 
}

.taskText {
  font-weight: bold;
  font-size: 1.2rem;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: var(--DarkBlue) ;
  color: grey;
  
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  position: relative;
  margin-right: 10px;
  width: 4vh;
  height: 4vh;
  color: var(--DarkBlue);
  border: 1px solid var(--DarkBlue);
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  box-shadow: 0 0 6px rgba(119, 180, 245, 0.8);
  &:active {
    transform: scale(.8);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  &::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
    opacity: 0;
    top: 50%;
    left: 50%;
  }
  &:checked {
    color: white;
    border-color: var(--Blue);
    background: var(--Blue);
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  &:hover {
    background-color: rgba(39, 133, 234, 0.6);
  }
}

.taskBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 600px) {
  
  .card {
    background-color: rgb(237, 237, 237); 
    color: var(--DarkBlue);
    padding: 1vh 2vh;
    margin: 2vh -1vh;
    border-radius: 15px;
    width: 81vw;
  }
}