@import url('https://fonts.googleapis.com/css2?family=Roobert:wght@100;300;400;500;700&display=swap');


.CardsChanelsContainer{
    display: flex;
    flex-direction: column;
}


.CardsChanels{
    display: flex;
    flex-direction: row;
}

.TittlesChanels{
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-family: 'Roobert', sans-serif;
  margin-top: 0.5%;
  margin-left: 2.5%;
}


.Profile_imgChanel{
    border-radius: 50%;
    height: 1%;
}

.DescriptionChanel{
    color: gray;
    font-family: 'Roobert', sans-serif;
    margin-left: -16.5%;
    margin-top: 5%;
}

@media  (min-width: 1024px) {
    .CardsChanelsContainer{
        display: flex;
        flex-direction: column;
        display: none;
    }
    
    
    .CardsChanels{
        display: flex;
        flex-direction: row;
        display: none;
    }
    
    .TittlesChanels{
      display: flex;
      flex-direction: column;
      font-size: medium;
      font-family: 'Roobert', sans-serif;
      margin-top: 0.5%;
      margin-left: 2.5%;
      display: none;
    }
    
    
    .Profile_imgChanel{
        border-radius: 50%;
        height: 1%;
        display: none;
    }
    
    .DescriptionChanel{
        color: gray;
        font-family: 'Roobert', sans-serif;
        margin-left: -16.5%;
        margin-top: 5%;
        display: none;
    }
   
  }