button {
  border-radius: 50px;
  border: 1px solid transparent;
  color: var(--DarkBlue);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}
.add {
  background-color: var(--Green);
  width: 12vh;
  height: 7vh;
  margin: 2vh 0;
  padding: 2vh 3vh;
  box-shadow: -3px 0 6px var(--DarkGreen);
}

.erase {
  border: 1px solid var(--DarkRed);
  background-color: white;
  width: 5vh;
  height: 5vh;
  font-size: small;
  color: var(--DarkRed);
  transition: all 0.25s;
  box-shadow: 0 0 6px rgba(247, 99, 99, 0.8);
  margin-left: 755px;
  margin-top: -20px;
}

.erase:hover {
  background-color: rgba(250, 82, 82, 0.656); 
  
}

.clearAll  {
transition: all 0.3s ease-in-out;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
padding-block: 0.5rem;
padding-inline: 1.25rem;
background-color: var(--Blue);
border-radius: 9999px;
display: flex;
align-items: center;
justify-content: center;
color: #ffff;
gap: 10px;
font-weight: bold;
border: 3px solid #ffffff4d;
outline: none;
overflow: hidden;
font-size: 18px;
margin-left: 330px;
margin-top: 10px;
}

.clearAll:hover {
transform: scale(1.05);
border-color: #fff9;
}

.clearAll:hover  {
transform: translate(4px);
}

.clearAll:hover::before {
animation: shine 1.5s ease-out infinite;
}

.clearAll::before {
content: "";
position: absolute;
width: 100px;
height: 100%;
background-image: linear-gradient(
  120deg,
  rgba(255, 255, 255, 0) 30%,
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0) 70%
);
top: 0;
left: -100px;
opacity: 0.6;
}

@keyframes shine {
0% {
  left: -100px;
}

60% {
  left: 100%;
}

to {
  left: 100%;
}
}



@media only screen and (max-width: 600px) {
.add {
  background-color: var(--Green);
  width: 10vh;
  height: 5vh;
  margin: 2vh 0;
  padding: 2vh 3vh;
  box-shadow: -3px 0 6px var(--DarkGreen);
  align-self: center;
  margin-left: 11%;
}

.erase {
  border: 1px solid var(--DarkRed);
  background-color: white;
  width: 4vh;
  height: 4vh;
  font-size: small;
  color: var(--DarkRed);
  transition: all 0.25s;
  box-shadow: 0 0 6px rgba(247, 99, 99, 0.8);
  margin-left: 160px;
  margin-top: -20px;
}

.erase:hover {
  background-color: rgba(250, 82, 82, 0.656); 
  
}

.clearAll  {
transition: all 0.3s ease-in-out;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
padding-block: 0.5rem;
padding-inline: 1.25rem;
background-color: var(--Blue);
border-radius: 9999px;
display: flex;
align-items: center;
justify-content: center;
color: #ffff;
gap: 10px;
font-weight: bold;
border: 3px solid #ffffff4d;
outline: none;
overflow: hidden;
font-size: 18px;
margin-left: 140px;
margin-top: 10px;
}

.clearAll:hover {
transform: scale(1.05);
border-color: #fff9;
}

.clearAll:hover  {
transform: translate(4px);
}

.clearAll:hover::before {
animation: shine 1.5s ease-out infinite;
}

.clearAll::before {
content: "";
position: absolute;
width: 100px;
height: 100%;
background-image: linear-gradient(
  120deg,
  rgba(255, 255, 255, 0) 30%,
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0) 70%
);
top: 0;
left: -100px;
opacity: 0.6;
}

@keyframes shine {
0% {
  left: -100px;
}

60% {
  left: 100%;
}

to {
  left: 100%;
}

}}